{% extends 'agency/base.html' %}

{% load static %}

{% load humanize %}

{% block content %}
    <!-- bradcam_area  -->
    <div class="bradcam_area bradcam_bg_1">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="bradcam_text">
                        <h3>Property</h3>
                        <p> <a href="index.html">Home</a> / Property</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/ bradcam_area  -->


    <!-- appertment_area_start  -->
    <div class="appertment_area appertment_area2">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="single_appertment mb-30">
                        <div class="thumb">
                            <img src="{{property.image.url}}" alt="">
                        </div>
                        <div class="appertment_info">
                            <span>$35.000</span>
                            <a href="#">
                                <h5>Colorful little aprtment</h5>
                            </a>
                            <ul>
                                <li>2BD</li>
                                <li>2BA</li>
                                <li>920 SF</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single_appertment mb-30">
                        <div class="thumb">
                            <img src="img/appertment/2.png" alt="">
                        </div>
                        <div class="appertment_info">
                            <span>$35.000</span>
                            <a href="#">
                                <h5>Colorful little aprtment</h5>
                            </a>
                            <ul>
                                <li>2BD</li>
                                <li>2BA</li>
                                <li>920 SF</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single_appertment mb-30">
                        <div class="thumb">
                            <img src="img/appertment/3.png" alt="">
                        </div>
                        <div class="appertment_info">
                            <span>$35.000</span>
                            <a href="#">
                                <h5>Colorful little aprtment</h5>
                            </a>
                            <ul>
                                <li>2BD</li>
                                <li>2BA</li>
                                <li>920 SF</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single_appertment mb-30">
                        <div class="thumb">
                            <img src="img/appertment/1.png" alt="">
                        </div>
                        <div class="appertment_info">
                            <span>$35.000</span>
                            <a href="#">
                                <h5>Colorful little aprtment</h5>
                            </a>
                            <ul>
                                <li>2BD</li>
                                <li>2BA</li>
                                <li>920 SF</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single_appertment mb-30">
                        <div class="thumb">
                            <img src="img/appertment/1.png" alt="">
                        </div>
                        <div class="appertment_info">
                            <span>$35.000</span>
                            <a href="#">
                                <h5>Colorful little aprtment</h5>
                            </a>
                            <ul>
                                <li>2BD</li>
                                <li>2BA</li>
                                <li>920 SF</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single_appertment mb-30">
                        <div class="thumb">
                            <img src="img/appertment/1.png" alt="">
                        </div>
                        <div class="appertment_info">
                            <span>$35.000</span>
                            <a href="#">
                                <h5>Colorful little aprtment</h5>
                            </a>
                            <ul>
                                <li>2BD</li>
                                <li>2BA</li>
                                <li>920 SF</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- appertment_area_end  -->
    
{% endblock content %}